<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<meta charset="utf-8" >
<ion-header>

  <ion-navbar color="calm">
    <ion-title>Hero Gallery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of list">
            <ion-thumbnail item-start>
                <img src="{{item?.hero_img}}" (click)="toprofile(item?.ID)">
            </ion-thumbnail>
            <h2 (click)="toprofile(item?.ID)">{{item?.hero_name}}</h2>
            <div item-end><img class ="icono" src="{{item?.hero_class_icon}}"></div>
        </ion-item>
    </ion-list>
</ion-content>
