page-gallery {
    h2{
        color:black;
        text-align: left;
        font-family: fantasy;
    }
    p{
        color:white;
        font-style:oblique;
        font-family: fantasy;
    }
    .item ion-thumbnail{
         min-width: 5rem;    
         min-height: 5rem;
        img {
            max-width: 5rem;    
            min-width: 5rem;
        }
    }
    .item{ 
        background-color: rgba(0,0,0,0.3) !important; 
    }
}
.icono{
    width:50px;
    height: auto;
}
