<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<meta charset="utf-8" >
<ion-header>

  <ion-navbar color="calm">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid *ngFor="let item of list">
        <ion-row>
            <ion-col col-6>
                <img src="{{item?.hero_img_full}}">
            </ion-col>
            <ion-col col-6>
                <ion-grid>
                    <ion-row>Hero Name: {{item?.hero_name}}</ion-row><br>
                <ion-row>Real Name: {{item?.hero_fullname}}</ion-row><br>
                <ion-row>Age: {{item?.hero_age}}</ion-row><br>
                <ion-row>Nationality: <img class="flag" src="{{item?.hero_home}}"/></ion-row><br>
                <ion-row>Hero Class: {{item?.hero_class}}</ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row>
        <p>{{item?.hero_description}}</p>
        </ion-row>
    </ion-grid>
</ion-content>
