<ion-header>
  <ion-navbar color="calm">
    <ion-title>
      Omnic Assist
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div  class="card-background-page">
    <ion-card (click)="load()">
        <img src="assets/imgs/menu/heroes.jpg"/>
            <ion-card-content>
                <div class="card-title">HERO GALLERY</div>
            </ion-card-content>
    </ion-card>
    <ion-card (click)="load2()">
        <img src="assets/imgs/menu/maps.jpg"/>
            <ion-card-content>
                <div class="card-title">MAPS</div>
            </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/imgs/menu/compositions.jpg"/>
            <ion-card-content>
                <div class="card-title">COMPOSITIONS</div>
            </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/imgs/menu/customize.jpg"/>
            <ion-card-content>
                <div class="card-title">CUSTOMIZE</div>
            </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/imgs/menu/guides.jpg"/>
            <ion-card-content>
                <div class="card-title">GUIDES</div>
            </ion-card-content>
    </ion-card>
    </div>    
</ion-content>
