<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Maps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list radio-group>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
          <ion-item>
            <ion-label>All</ion-label>
            <ion-radio (ionSelect)="radioChecked('all')" checked="true" value="all"></ion-radio>
          </ion-item>
                </ion-col>
                <ion-col col-6>
          <ion-item>
            <ion-label>Assault</ion-label>
            <ion-radio (ionSelect)="radioChecked('Assault')" value="assault"></ion-radio>
          </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
          <ion-item>
            <ion-label>Control</ion-label>
            <ion-radio (ionSelect)="radioChecked('Control')" value="control"></ion-radio>
          </ion-item>
            </ion-col>
                <ion-col col-6>
          <ion-item>
            <ion-label>Escort</ion-label>
            <ion-radio (ionSelect)="radioChecked('Escort')" value="escort"></ion-radio>
          </ion-item>
                </ion-col>
                </ion-row>
          <ion-row>
                <ion-col col-6>
          <ion-item>
            <ion-label>Hybrid</ion-label>
            <ion-radio (ionSelect)="radioChecked('Hybrid')" value="hybrid"></ion-radio>
          </ion-item>
                </ion-col>
                <ion-col col-6>
          <ion-item>
            <ion-label>Arena</ion-label>
            <ion-radio (ionSelect)="radioChecked('Arena')" value="arena"></ion-radio>
          </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <div class="card-background-page">
    <ion-list>
        <ion-card *ngFor="let item of list">
            <img src="{{item?.map_img}}" (click)="tomapprofile(item?.ID)">
                <ion-card-content (click)="tomapprofile(item?.ID)">
                <div class="card-title">{{item?.map_name}}</div>
                </ion-card-content>
        </ion-card>
    </ion-list>
    </div>
</ion-content>
