page-map {
     h2{
        color:white;
        text-align: center;
        font-family: fantasy;
    }
    p{
        color:white;
    }
    img{
        position: absolute;
    }
    ion-label{
        font-size: 0.8em;
    }
    .panel{
        padding: 0;
        margin: 0;
    }
}
.item-md {
  background: transparent;
}
.card-background-page {
    padding-right: 20px;

  ion-card {
    position: relative;
    background-color: white;
    display:flex;
    flex-direction: column;
    width: 100%;
      height:120px;
    border-radius: 10px;
  }
    ion-card-content{
        position:absolute;
        bottom: 0%;
        right: 0%;
        left: 0%;
        height: 30px;
        text-align: right;
        background-color: rgba(0,0,0,0.6);
    }

  .card-title {
    font-size: 1.3em;
    width: 100%;
    color: white;
    font-style:oblique;
    font-family: fantasy;
    position: relative;
    display: flex;
    top: -10px;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: relative;
    top: 58%;
    width: 100%;
    color: #fff;
  }
}